{{define "public/botton.html"}}
    <!--bottom-->
    <div class="bottom">
        <div class="container">
            <!--newslettre-->
            <div class="newslettre">
                <div class="newslettre-width">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-7 m-auto ">
                            <div class="newslettre-info">
                                <h3>懂得感恩！</h3>
                                <p>至少喜欢过，至少尝试过，至少勇敢过，永不放弃，那就够了。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--footer-->
            <div class="footer">
                <div class="row">
                    <div class="col-lg-12">
			<div class="copyright">
			    <p><a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">赣ICP备2022004316号</a></p>
			    <p><img src="/static/img/beian.png">&nbsp;&nbsp;<a  href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=36032202000048" target="_blank">赣公网安备 36032202000048号</a></p>
			</div>
                        <div class="back">
                            <a href="#" class="back-top">
                                <i class="far fa-angle-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}
