{{define "public/css.html"}}
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <!-- Font Google -->
    <link href="/static/css/googlefont.css" rel="stylesheet">
    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/static/css/all.css">
    <link rel="stylesheet" href="/static/css/elegant-font-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.css">
    <!-- Main style -->
    <link rel="stylesheet" href="/static/css/style.css">
{{end}}